@mixin button {
    color: $secondary-color;
    padding: 15px 25px;
    border-radius: calc(#{$border-radius} + 15px); // Ty stackoverflow
    cursor: pointer;
    background-image: linear-gradient($main-color);
    text-transform: uppercase;
    border: none;
}

@mixin spanColorClip {
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient($main-color);
}